jax[cuda12]
cmcrameri==1.9
etils==1.12.1
flax
matplotlib
natsort==8.4.0
numpy==1.26.4
opencv_python==4.8.0.76
optax
orbax
pandas==2.2.3
pingouin==0.5.5
pydicom==3.0.1
pyDOE==0.3.8
scipy==1.15.2
seaborn==0.13.2
setuptools==68.0.0
scikit-image
torch
tqdm==4.65.2
xarray==2024.11.0
jupyterlab
jupyter
ipython
ipdb
